//-------------------------
//base
//-------------------------
@import "base";
//-------------------------
//layout
//-------------------------
@import "layout";
//-------------------------
//module
//-------------------------
@import "module";
//-------------------------
//state
//-------------------------
@import "state";
//-------------------------
//Theme
//-------------------------
@import "theme";

body {
  background-color: red;
  width: 100vh;
  height: 100vh;
}